<launch>
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="camera" value="hand_cam"/>
    <arg name="serial_no" value="342522073042"/>
    <arg name="enable_color" value="true"/>
    <arg name="enable_depth" value="true"/>
    <arg name="align_depth" value="true"/>
    <arg name="publish_tf" value="true"/>
    <arg name="initial_reset" value="true"/>
    <arg name="wait_for_device_timeout" value="10.0"/>
  </include>
</launch>
